body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-display {
    display: none;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    border: 1px #ccc solid;
    opacity: 0.7;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;

    &:hover {
        opacity: 1;
    }
}

.yes-btn {
    background-color: rgb(3, 138, 3);
}

.no-btn {
    background-color: red;
}

.btn + .btn {
    margin-left: 15px;
}

.title {
    margin: 20px 0;
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    }
}